<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="./css/style.css" />
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./css/jquery.steps.css" />
		<script src="js/jquery.steps.min.js"></script>

		<title>O'Auth 2.0 visualisation project</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Homepage</a></li>
				<% if (user) { %>
				<li><a href="/auth/logout">Logout</a></li>
				<li><a href="/profile">Profile</a></li>
				<%} else { %>
				<li><a href="/auth/login">Login</a></li>
				<%} %>
			</ul>
		</nav>
		<header>
			<h1>O'Auth 2.0 visualisation</h1>
			<h2>Homepage</h2>
		</header>
		<main>
			<div id="example-basic">
				<h3>Intro</h3>
				<section>
					<p>
						This app aims to explain process of authentication (also
						using authorization) by O'Auth 2.0
					</p>
				</section>
				<h3>First step</h3>
				<section>
					<p>Wonderful transition effects.</p>
				</section>
			</div>
		</main>
	</body>
	<script>
		$('#example-basic').steps({
			headerTag: 'h3',
			bodyTag: 'section',
			transitionEffect: 'slideLeft',
			autoFocus: true,
			stepsOrientation: 1,
		});
	</script>
</html>
