<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" type="text/css" href="../css/style.css" />
		<title>O'Auth 2.0 visualisation project</title>
	</head>
	<body>
		<nav>
			<ul>
				<li><a href="/">Homepage</a></li>
				<% if (user) { %>
				<li><a href="/auth/logout">Logout</a></li>
				<li><a href="/profile">Profile</a></li>
				<%} else { %>
				<li><a href="/auth/login">Login</a></li>
				<%} %>
			</ul>
		</nav>
		<!-- <header></header> -->
		<main>
			<div>
				<img class="thumbnail" src="<%= user.thumbnail %>" />
			</div>
			<div>
				<h1>Welcome to your profile, <%= user.username %></h1>
			</div>
		</main>
	</body>
</html>
