<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>O'Auth 2.0 visualisation project</title>
		<link rel="stylesheet" type="text/css" href="css/style.css" />
		<link rel="stylesheet" type="text/css" href="js/jquery.steps.min.js" />
		<style>
			h2 {
				color: white;
				text-align: center;
			}
		</style>
	</head>
	<body>
		<nav>
			<h2>You've been redirected</h2>
		</nav>

		<main>
			<pre>
					<code>
						<% if(user) { %>
							<p><%= user %></p>
						<% } %>

						<% if(profile) { %>
							<p><%= JSON.stringify(profile, null, ' ') %></p>
						<% } %>

						<% if(accessToken) { %>
							<p><%= accessToken %></p>
						<% } %>
					</code>
				</pre>
			<nav>
				<ul>
					<li><a href="/profile">Profile</a></li>
				</ul>
			</nav>

			<div id="example-basic">
				<h3>Intro</h3>
				<section>
					<p>
						This app aims to explain process of authentication (also
						using authorization) by O'Auth 2.0
					</p>
				</section>
				<h3>First step</h3>
				<section>
					<p>
						Go to "Login" page to start
					</p>
				</section>
			</div>
		</main>
	</body>
	<script>
		$('#example-basic').steps({
			headerTag: 'h3',
			bodyTag: 'section',
			transitionEffect: 'slideLeft',
			autoFocus: true,
			stepsOrientation: 1,
		});
	</script>
</html>
